$color1 : #5fdae8;
$color2: #F16A00;
$text-color: #333333;
$charcoal: #24282b;
$pink: #D82980;

$font1 : 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$heading1-size: 6rem;
$heading2-size: 4.5rem;
$heading3-size: 3rem;
$heading4-size: 2.5rem;

$spacer: 3rem;